<p><img src="media/image1.png" alt="Macintosh HD:Users:Michael:Desktop:Screen Shot 2015-10-12 at 20.50.49.png" style="width:5.76667in;height:1.24444in" /></p>
<p>User Manual</p>
<p>Version 1.1 – 9<sup>th</sup> March 2016</p>
<p><strong>Dr Chrissy h. Roberts</strong></p>
<p><strong>Dr Michael Marks</strong></p>
<p><a href="mailto:ODK@LSHTM.AC.UK"><strong>ODK@LSHTM.AC.UK</strong></a></p>
<p><a href="opendatakit.lshtm.ac.uk"><strong>OPENDATAKIT.LSHTM.AC.UK</strong></a></p>
<p><strong><span class="underline">Setting up and Using ODK @ LSHTM</span></strong></p>
<p><em>This is not meant to be a definitive guide to using ODK but provides an overview of configuring your device to work with the ODK@LSHTM Server Setup.</em></p>
<p><span class="underline">Requesting an ODK Server at LSHTM</span></p>
<ul>
<li><p>Complete the Server Request form at <a href="https://opendatakit.lshtm.ac.uk/files/2015/09/LSHTM-ODK-Server-%E2%80%93-Project-Request.docx">opendatakit.lshtm.ac.uk</a></p></li>
<li><p>Email the form to <a href="mailto:ODK@lshtm.ac.uk">mailto:ODK@lshtm.ac.uk</a></p></li>
</ul>
<p><span class="underline">If you have used ODK and Aggregate Servers before</span></p>
<ul>
<li><p>Sections 1 and 3 provide specific details for setting up your ODK @ LSHTM Server</p></li>
</ul>
<p><span class="underline">If you have not used ODK or an Aggregate Server before</span></p>
<ul>
<li><p>Sections 1 and 2 provide details for setting up your server and uploading blank survey forms</p></li>
<li><p>Sections 3 and 4 provide details for downloading blank forms to smartphones/tablets, collecting data and uploading completed surveys to the server</p></li>
<li><p>Section 5 provides details for downloading completed data from the server</p></li>
</ul>
<p><span class="underline">Advanced Users: Nested Repeats and Media File Downloads</span></p>
<ul>
<li><p>Section 6 provides details for using ODK Briefcase for downloading nested repeats and media files associated with your survey</p></li>
</ul>
<p><strong><span class="underline">SECTION 1: Setting up your ODK Aggregate Server</span></strong></p>
<p><strong>Please follow the instructions below on <span class="underline">First Login</span> – this is essential to ensure the full security of your data</strong></p>
<p><strong>1)</strong> Your project will be accessed at:</p>
<p>example.odk.lshtm.ac.uk</p>
<p><strong>2)</strong> Click <em>Log In</em></p>
<p><img src="media/image2.png" alt="Macintosh HD:Users:Michael:Desktop:Screen Shot 2015-10-12 at 20.50.35.png" style="width:5.74444in;height:1.33333in" /></p>
<p><strong>3)</strong>Select <em>Sign in with Aggregate password</em></p>
<p><img src="media/image3.png" alt="Macintosh HD:Users:Michael:Desktop:Screen Shot 2015-10-12 at 20.56.42.png" style="width:5.75556in;height:1.2in" /></p>
<p>The default account details are:</p>
<p>Username: admin</p>
<p>Password: lshtm</p>
<p><strong>4)</strong> The <em>Site Admin</em> tab will now appear</p>
<p><img src="media/image4.png" alt="Macintosh HD:Users:Michael:Desktop:Screen Shot 2015-10-12 at 20.59.16.png" style="width:5.76667in;height:0.47778in" /></p>
<p><strong>5)</strong> Select the <em>Site Admin</em> tab</p>
<p>By default there are two users setup:</p>
<p>1) admin 2) anonymoususer</p>
<p><img src="media/image5.png" alt="Macintosh HD:Users:Michael:Desktop:Screen Shot 2015-10-12 at 21.00.54.png" style="width:5.74444in;height:0.88889in" /></p>
<p><strong>6)</strong> <span class="underline">CHANGE</span> admin Password</p>
<p><img src="media/image5.png" alt="Macintosh HD:Users:Michael:Desktop:Screen Shot 2015-10-12 at 21.00.54.png" style="width:5.74444in;height:0.88889in" /></p>
<p><strong>7)</strong> <span class="underline">DISABLE</span> Anonymoususer Form Manager</p>
<p><img src="media/image5.png" alt="Macintosh HD:Users:Michael:Desktop:Screen Shot 2015-10-12 at 21.00.54.png" style="width:5.74444in;height:0.88889in" /></p>
<p><em>You must disable Anonymoususer Form Manager – Otherwise people can access your data without a password!</em></p>
<p><strong>8)</strong> <span class="underline">SAVE</span> your changes</p>
<p><img src="media/image6.png" alt="Macintosh HD:Users:Michael:Desktop:Screen Shot 2015-10-13 at 11.45.33.png" style="width:5.75556in;height:1.06667in" /></p>
<p><strong>8)</strong> <span class="underline">OPTIONAL BUT RECOMMENDED</span></p>
<p>We strongly recommend you also disable <em>Data Collector</em> for Anonymous Users and create a password protected account with <em>Data Collector</em> rights</p>
<p>The new account can be created by</p>
<p>a) Type a new username in the <em>Add Users</em> box and click <em>Add</em></p>
<p><img src="media/image7.png" alt="Macintosh HD:Users:Michael:Desktop:Screen Shot 2015-10-12 at 21.56.07.png" style="width:5.75556in;height:0.75556in" /></p>
<p>b) Give the new username <em>Data Collector</em> rights and set a password</p>
<p><img src="media/image8.png" alt="Macintosh HD:Users:Michael:Desktop:Screen Shot 2015-10-12 at 21.59.54.png" style="width:5.76667in;height:0.81111in" /></p>
<p>c) Save your changes</p>
<p><img src="media/image6.png" alt="Macintosh HD:Users:Michael:Desktop:Screen Shot 2015-10-13 at 11.45.33.png" style="width:5.75556in;height:1.06667in" /></p>
<p><strong>YOUR ODK SERVER IS NOW SETUP AND SECURE</strong></p>
<p><strong><span class="underline">SECTION 2: Uploading Blank Forms to the ODK Server</span></strong></p>
<p><strong>1)</strong> You need to upload your <em>Blank forms</em> to the ODK Server.</p>
<p>A project might have more than 1 form (e.g First Visit, Second Visit etc)</p>
<p><span class="underline">This guide does not cover designing your forms</span> - <span class="underline"> </span> Links and guidance for writing forms are available at <a href="opendatakit.lshtm.ac.uk" class="uri">opendatakit.lshtm.ac.uk</a></p>
<p><strong>2)</strong> Login to your server using the Admin Username and Password</p>
<p>Select the <em>Form Management</em> tab</p>
<p><img src="media/image9.png" alt="Macintosh HD:Users:Michael:Desktop:Screen Shot 2015-10-12 at 21.26.09.png" style="width:5.76667in;height:0.97778in" /></p>
<p><strong>3)</strong> Click Add New Form</p>
<p><img src="media/image9.png" alt="Macintosh HD:Users:Michael:Desktop:Screen Shot 2015-10-12 at 21.26.09.png" style="width:5.76389in;height:0.97731in" /></p>
<p><strong>4)</strong> Select the location of your ODK Form File and Click <em>Upload Form</em><img src="media/image10.png" alt="Macintosh HD:Users:Michael:Desktop:Screen Shot 2015-10-12 at 21.31.58.png" style="width:3.49444in;height:2.05079in" /></p>
<p><strong>5)</strong> Repeat as needed. All of the uploaded forms will be displayed on this page.</p>
<p><img src="media/image11.png" alt="Macintosh HD:Users:Michael:Desktop:Screen Shot 2015-10-12 at 21.40.58.png" style="width:5.75556in;height:0.42222in" /></p>
<p>Remember if you update a survey form that you might need to delete old versions of it from the server.</p>
<p><strong>YOUR FORMS ARE NOW AVAILABLE TO BE SYNCED TO DEVICES AND FOR DATA TO BE UPLOADED</strong></p>
<p><strong><span class="underline">SECTION 3: Setting up devices using ODK Collect and the LSHTM Server</span></strong></p>
<p><strong>1)</strong> Open ODK Collect on your smart phone/tablet and access <em>General Settings</em></p>
<p><img src="media/image12.png" style="width:2.36028in;height:4.20278in" /></p>
<p><strong>2)</strong> Select <em>Configure Platform Settings </em></p>
<p><img src="media/image13.png" style="width:1.76707in;height:3.13831in" /></p>
<p><strong>3)</strong> Enter the URL of your ODK Server <strong>–</strong> Make sure you include the https://</p>
<p>e.g <a href="https://example.odk.lshtm.ac.uk" class="uri">https://example.odk.lshtm.ac.uk</a></p>
<p><em>The https (not http) is very important as that makes it a secure connection</em></p>
<p><img src="media/image14.png" style="width:4.61944in;height:3.27425in" /></p>
<p><strong>4)</strong> <span class="underline">OPTIONAL BUT RECOMMENDED</span></p>
<p>If you have setup a Data Collector account with a username and password (See Section 2 Above) also enter these now.</p>
<p><strong>5)</strong> Return to the main screen and click <em>Get Blank Forms</em></p>
<p>This will bring up a list of all the forms on your ODK server. Select the ones you want and click <em>Get Selected.</em></p>
<p><img src="media/image15.png" style="width:1.42715in;height:2.38056in" /> <img src="media/image16.png" style="width:1.58099in;height:2.38958in" /></p>
<p><strong>YOUR SMART DEVICE IS NOW SETUP TO COLLECT DATA</strong></p>
<p><strong><span class="underline">SECTION 4: Collecting and Uploading Data</span></strong></p>
<p><em>Collecting Data (Steps 1-3) does not require a mobile or Wi-Fi connection. Uploading data (Steps 4-5) requires a data connection.</em></p>
<p><strong>1)</strong> From the front screen select <em>Fill Blank Form</em></p>
<p><img src="media/image17.png" alt="Screen Shot 2015-08-25 at 16.26.20.png" style="width:1.18092in;height:2.01389in" /></p>
<p><strong>2)</strong> Select the appropriate Survey Form from the list</p>
<p><img src="media/image18.png" alt="Macintosh HD:Users:Michael:Desktop:Screen Shot 2015-10-13 at 09.58.08.png" style="width:2.86944in;height:1.27996in" /></p>
<p><strong>3)</strong> Complete the Survey</p>
<p><strong>4)</strong> On the final screen select <em>Save Form and Exit</em></p>
<p><img src="media/image19.png" style="width:1.49444in;height:2.4816in" /></p>
<p><strong>5)</strong> Select <em>Send Finalized Form</em></p>
<p><img src="media/image17.png" alt="Screen Shot 2015-08-25 at 16.26.20.png" style="width:1.69307in;height:2.88728in" /></p>
<p><strong>5)</strong> Select <em>Toggle All</em> then click <em>Send Selected</em> – Data will now be uploaded to your server</p>
<p><img src="media/image20.png" style="width:2.33333in;height:4.16667in" /></p>
<p><strong><span class="underline">SECTION 5: Exporting Data – Basic CSV Files Only</span></strong></p>
<p><strong>If your data contains Nested Repeat Groups or Media Files please go to Section 6</strong></p>
<p><strong>1)</strong> Login to your ODK server</p>
<p><strong>2)</strong> Uploaded data will be displayed for the currently selected form.</p>
<p><strong>3)</strong> Select the <em>Form</em> you want to export <img src="media/image21.png" alt="Macintosh HD:Users:Michael:Desktop:Screen Shot 2015-10-13 at 10.01.25.png" style="width:5.74444in;height:0.91111in" /></p>
<p><strong>4)</strong> Click <em>Export</em></p>
<p><img src="media/image2.png" alt="Macintosh HD:Users:Michael:Desktop:Screen Shot 2015-10-12 at 20.50.35.png" style="width:5.74444in;height:1.33333in" /></p>
<p><strong>5)</strong> It will list the data that is being exported. Normally this will be a CSV. Click <em>Export</em></p>
<p><img src="media/image22.png" alt="Macintosh HD:Users:Michael:Desktop:Screen Shot 2015-10-13 at 10.02.28.png" style="width:5.75556in;height:1.3in" /></p>
<p><strong>6)</strong> You will be taken to the <em>Exported Submissions</em> tab. This will list the time and date of all exported data. Select the Dataset you want to download the full dataset as a CSV</p>
<p><img src="media/image23.png" alt="Macintosh HD:Users:Michael:Desktop:Screen Shot 2015-10-13 at 10.06.31.png" style="width:5.75556in;height:1.53333in" /></p>
<p><strong><span class="underline"><br />
</span></strong></p>
<p><strong><span class="underline">SECTION 6: Export Data – Complex Datasets</span></strong></p>
<p><em>If your survey includes repeated group questions or large amounts of media associated with surveys you should use the <a href="https://opendatakit.org/downloads/download-category/briefcase/">ODK Briefcase package</a> to download the survey</em></p>
<p><strong>1)</strong> Select <em>Pull data from</em> Aggregate 1.0 and click the <em>Connect</em> button</p>
<p><img src="media/image24.png" alt="Macintosh HD:Users:Michael:Desktop:Screen Shot 2015-10-13 at 09.34.55.png" style="width:3.36944in;height:2.95314in" /></p>
<p><strong>2)</strong> Enter the URL of your server and enter the username and password of an account with Form Viewer and Data Manager rights (e.g the Admin account).</p>
<p>Click <em>Connect.</em></p>
<p><strong>URL BOX:</strong> If your servers is called ABC.odk.lshtm.ac.uk then you need to enter</p>
<p>https://ABC.odk.lshtm.ac.uk/ABC</p>
<p><img src="media/image25.png" alt="Macintosh HD:Users:Michael:Desktop:Screen Shot 2015-10-13 at 09.35.03.png" style="width:5.76667in;height:3.03333in" /></p>
<p><strong>3)</strong> ODK Briefcase will list all of the Survey forms available on the server. Select the ones you want to download and click <em>Pull</em></p>
<p><img src="media/image24.png" alt="Macintosh HD:Users:Michael:Desktop:Screen Shot 2015-10-13 at 09.34.55.png" style="width:3.36944in;height:2.95314in" /></p>
<p><strong>4)</strong> Switch to the <em>Export Tab.</em> Select the form you want to download and set an export directory then click <em>Export</em></p>
<p><img src="media/image26.png" alt="Macintosh HD:Users:Michael:Desktop:Screen Shot 2015-10-13 at 09.38.42.png" style="width:3.36944in;height:2.91499in" /></p>
<p><strong>5)</strong> ODK Briefcase will download the survey for you.</p>
<ul>
<li><p>The main survey data will be downloaded in to a single CSV.</p></li>
<li><p>Nested repeats will be downloaded into a separate CSV – these can be linked in a statistical package of your choice.</p></li>
<li><p>Media files will be downloaded into a folder with a linking identifier.</p></li>
<li><p>If you have collected data using OpenMapKit the OSM files will be in the Media Folder</p></li>
</ul>
